openapi: 3.0.1
info:
  title: スタンプ検索サービス
  description: |-
    traQのスタンプを検索するサービスのAPI。traPのユーザーが自由にタグを付けたり説明文を追加できるようにすることで、スタンプの検索性を高めるためのサービス
  version: 0.2.0
servers:
  - url: https://1m25-11.trap.show/api/v1
    description: Production Server

tags:
  - name: Search & Ranking
    description: スタンプの検索やランキング表示
  - name: Stamps
    description: スタンプ情報の取得・操作
  - name: Tags
    description: タグ情報の取得・操作
  - name: User
    description: ユーザーの認証用エンドポイント

components:
  schemas:
    Stamp:
      type: object
      properties:
        stamp_id:
          type: string
          format: uuid
          description: スタンプのUUID(traQより取得)
        stamp_name:
          type: string
          description: スタンプ名(traQより取得)
        file_id:
          type: string
          format: uuid
          description: 画像ファイルのUUID(traQより取得)
        creator_id:
          type: string
          format: uuid
          description: 保有者のユーザUUID(traQより取得)
        is_unicode:
          type: boolean
          description: Unicode絵文字か否か(traQより取得)
        is_animated:
          type: boolean
          description: アニメーションスタンプか否か(取得方法は未定, 現状は常にfalse)
        created_at:
          type: string
          format: date-time
          description: スタンプ作成日時 (ISO 8601, traQより取得)
        updated_at:
          type: string
          format: date-time
          description: スタンプ更新日時 (ISO 8601, traQより取得)
        count_monthly:
          type: integer
          format: int64
          description: 直近30日間の使用回数 (stamp_daily_usages テーブルより取得)
        count_total:
          type: integer
          format: int64
          description: 全期間での使用回数 (stamp_daily_usages テーブルより取得)
        descriptions:
          type: array
          items:
            $ref: "#/components/schemas/StampDescription"
        tags:
          type: array
          items:
            $ref: "#/components/schemas/TagSummary"
      required:
        - stamp_id
        - stamp_name
        - file_id
        - creator_id
        - is_unicode
        - is_animated
        - created_at
        - updated_at
        - count_monthly
        - count_total
        - descriptions
        - tags

    StampSummary:
      type: object
      properties:
        stamp_id:
          type: string
          format: uuid
        stamp_name:
          type: string
        file_id:
          type: string
          format: uuid
      required:
        - stamp_id
        - stamp_name
        - file_id

    Tag:
      type: object
      properties:
        tag_id:
          type: string
          format: uuid
          description: タグのUUID
        tag_name:
          type: string
          description: タグ名
        creator_id:
          type: string
          format: uuid
          description: タグ作成者のユーザUUID
        created_at:
          type: string
          format: date-time
          description: タグ作成日時 (ISO 8601)
        updated_at:
          type: string
          format: date-time
          description: タグ更新日時 (ISO 8601)
        count:
          type: integer
          description: このタグが付けられているスタンプの数
        stamps:
          type: array
          items:
            $ref: "#/components/schemas/StampSummary"
          description: このタグが付けられているスタンプの一覧
      required:
        - tag_id
        - tag_name
        - creator_id
        - created_at
        - updated_at
        - count
        - stamps

    TagSummary:
      type: object
      properties:
        tag_id:
          type: string
          format: uuid
        tag_name:
          type: string
      required:
        - tag_id
        - tag_name

    StampDescription:
      type: object
      properties:
        creator_id:
          type: string
          format: uuid
          description: 説明文の作成者のユーザUUID
        description:
          type: string
          description: スタンプの説明文
        created_at:
          type: string
          format: date-time
          description: 説明文の作成日時 (ISO 8601)
        updated_at:
          type: string
          format: date-time
          description: 説明文の更新日時 (ISO 8601)

      required:
        - creator_id
        - description
        - created_at
        - updated_at

    UserStatus:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
          description: traQユーザーのUUID
        is_admin:
          type: boolean
          description: 管理者権限の有無 (現時点では全員false)
        stamps_user_owned:
          type: array
          items:
            $ref: "#/components/schemas/StampSummary"
        tags_user_created:
          type: array
          items:
            $ref: "#/components/schemas/TagSummary"
        stamps_user_tagged:
          type: array
          items:
            type: object
            properties:
              stamp:
                $ref: "#/components/schemas/StampSummary"
              tag:
                $ref: "#/components/schemas/TagSummary"
            required:
              - stamp
              - tag
        descriptions_user_created:
          type: array
          items:
            type: object
            properties:
              stamp:
                $ref: "#/components/schemas/StampSummary"
            required:
              - stamp
      required:
        - user_id
        - is_admin
        - stamps_user_owned
        - tags_user_created
        - stamps_user_tagged
        - descriptions_user_created

    UserProfile:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
          description: traQユーザーのUUID
        traq_id:
          type: string
          description: traQId(ユーザー名)
        user_display_name:
          type: string
          description: traQ での表示名
        user_icon_file_id:
          type: string
          format: uuid
          description: ユーザーアイコンのファイルID
        user_state:
          type: number
          enum: [0, 1]
      required:
        - user_id
        - traq_id
        - user_display_name
        - user_icon_file_id
        - user_state

    SearchResult:
      type: object
      properties:
        stamps:
          type: array
          items:
            $ref: "#/components/schemas/StampSummary"
          description: 検索条件を満たすスタンプの配列
      required:
        - stamps

    RankingResult:
      type: object
      properties:
        stamp_id:
          type: string
          format: uuid
        total_count:
          type: integer
          description: 各スタンプが使用された回数 (全期間)
        monthly_count:
          type: integer
          description: 各スタンプが使用された回数 (直近30日間)
      required:
        - stamp_id
        - total_count
        - monthly_count

  securitySchemes:
    traQOAuth2:
      type: oauth2
      description: traQ client を用いて認証を行う
      flows:
        authorizationCode:
          authorizationUrl: https://q.trap.jp/api/v3/oauth2/authorize
          tokenUrl: https://q.trap.jp/api/v3/oauth2/token
          scopes:
            read: 読み取り権限
            write: 書き込み権限

security:
  - traQOAuth2:
      - read
      - write

paths:
  /stamps/search:
    get:
      tags:
        - Search & Ranking
      summary: スタンプ検索
      description: 複数の検索条件を組み合わせ、スタンプを検索する。
      parameters:
        - name: q
          in: query
          description: name, tag, description, creatorのいずれかに含まれるキーワード（空白区切りで複数指定可能、いずれかを含んでいれば表示）
          schema:
            type: string
        - name: name
          in: query
          description: スタンプ名に含まれるキーワード（空白区切りで複数指定可能、いずれかを含んでいれば表示）
          schema:
            type: string
        - name: tag
          in: query
          description: タグ名に含まれるキーワード（空白区切りで複数指定可能、いずれかを含んでいれば表示）
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - name: description
          in: query
          description: 説明文に含まれるキーワード（空白区切りで複数指定可能、いずれかを含んでいれば表示）
          schema:
            type: string
        - name: created_since
          in: query
          description: スタンプ作成日時の開始日 (YYYY-MM-DD)
          schema:
            type: string
            format: date
        - name: created_until
          in: query
          description: スタンプ作成日時の終了日 (YYYY-MM-DD)
          schema:
            type: string
            format: date
        - name: updated_since
          in: query
          description: スタンプ更新日時の開始日 (YYYY-MM-DD)
          schema:
            type: string
            format: date
        - name: updated_until
          in: query
          description: スタンプ更新日時の終了日 (YYYY-MM-DD)
          schema:
            type: string
            format: date
        - name: stamp_type_unicode
          in: query
          description: Unicode絵文字の種類フィルタ
          schema:
            type: string
            enum: [all, unicode_only, not_unicode_only]
            default: all
        - name: stamp_type_animation
          in: query
          description: アニメーションかどうか指定(現時点ではallのみ)
          schema:
            type: string
            enum: [all, animated_only, not_animated_only]
            default: all
        - name: count_monthly_min
          in: query
          description: 月間使用回数の最小値
          schema:
            type: integer
            minimum: 0
        - name: count_monthly_max
          in: query
          description: 月間使用回数の最大値
          schema:
            type: integer
            minimum: 0
        - name: fuzzy
          in: query
          description: あいまい検索を有効にするか（現時点では未実装）
          schema:
            type: boolean
            default: false
        - name: sortby
          in: query
          description: ソート順
          schema:
            type: string
            enum:
              [
                relativity,
                created_at_asc,
                created_at_desc,
                count_monthly_asc,
                count_monthly_desc,
                count_total_asc,
                count_total_desc,
              ]
            default: relativity
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResult"
        "400":
          description: リクエスト不正
        "401":
          description: 認証エラー

  /stamps/ranking:
    get:
      tags:
        - Search & Ranking
      summary: スタンプ使用回数ランキング
      description: スタンプとその使用回数のデータを返却する
      # parameters:
      #   - name: since
      #     in: query
      #     required: false
      #     description: 開始日 (YYYY-MM-DD)、未指定時は1ヶ月前
      #     schema:
      #       type: string
      #       format: date
      #   - name: until
      #     in: query
      #     required: false
      #     description: 終了日 (YYYY-MM-DD)、未指定時は昨日。since以降、昨日までの入力を許可
      #     schema:
      #       type: string
      #       format: date
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RankingResult"
        "400":
          description: リクエスト不正
        "401":
          description: 認証エラー

  /stamps:
    get:
      tags:
        - Stamps
      summary: 全スタンプ一覧取得
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/StampSummary"
        "401":
          description: 認証エラー

  /stamps/{stampId}:
    get:
      tags:
        - Stamps
      summary: スタンプ詳細情報取得
      parameters:
        - name: stampId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Stamp"
        "401":
          description: 認証エラー
        "404":
          description: スタンプが見つからない

  /stamps/{stampId}/tags/{tagId}:
    post:
      tags:
        - Stamps
      summary: スタンプへのタグ付け
      parameters:
        - name: stampId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: tagId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: 成功
        "400":
          description: リクエストが不正
        "401":
          description: 認証エラー
        "404":
          description: スタンプまたはタグが見つからない
        "409":
          description: すでに追加されているタグである

    delete:
      tags:
        - Stamps
      summary: スタンプのタグ付け解除
      parameters:
        - name: stampId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: tagId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: 成功
        "401":
          description: 認証エラー
        "403":
          description: 権限がない
        "404":
          description: スタンプまたはタグが見つからない
        "409":
          description: 現在紐づいていないタグである

  /stamps/{stampId}/descriptions:
    get:
      tags:
        - Stamps
      summary: スタンプの説明文一覧を取得
      description: そのスタンプに投稿されたすべてのユーザーの説明文を取得します。
      parameters:
        - name: stampId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/StampDescription"
        "401":
          description: 認証エラー
        "404":
          description: スタンプが見つからない

    post:
      tags:
        - Stamps
      summary: スタンプに説明文を追加
      description: ユーザーは1つのスタンプに対し1つだけ説明文を投稿できます。既に投稿済みの場合はエラーになります。
      parameters:
        - name: stampId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: 投稿する説明文
              required:
                - description
      responses:
        "201":
          description: 作成成功
        "400":
          description: リクエストが不正
        "401":
          description: 認証エラー
        "404":
          description: スタンプが見つからない
        "409":
          description: 既にこのスタンプに説明文を投稿済み
    put:
      tags:
        - Stamps
      summary: スタンプの説明文を更新
      description: 自分が投稿した説明文を更新します。自分が投稿していない場合は404エラーになります。
      parameters:
        - name: stampId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: 更新後の説明文
              required:
                - description
      responses:
        "204":
          description: 更新成功
        "400":
          description: リクエストが不正
        "401":
          description: 認証エラー
        "403":
          description: 編集する権限がない
        "404":
          description: 自分が投稿した説明文が見つからない

    delete:
      tags:
        - Stamps
      summary: スタンプの説明文を削除
      description: 自分が投稿した説明文を削除します。自分が投稿していない場合は404エラーになります。
      parameters:
        - name: stampId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: 削除成功
        "401":
          description: 認証エラー
        "403":
          description: 削除する権限がない
        "404":
          description: 自分が投稿した説明文が見つからない

  /tags:
    get:
      tags:
        - Tags
      summary: 全タグ一覧取得
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TagSummary"
        "401":
          description: 認証エラー
    post:
      tags:
        - Tags
      summary: 新しいタグを作成
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
                - name
      responses:
        "201":
          description: 作成成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TagSummary"
        "400":
          description: リクエストが不正
        "401":
          description: 認証エラー
        "409":
          description: タグ名が既に存在する

  /tags/{tagId}:
    get:
      tags:
        - Tags
      summary: タグの詳細情報を取得
      description: 指定されたタグの詳細情報と、そのタグが付けられているスタンプ一覧を取得します。
      parameters:
        - name: tagId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tag"
        "401":
          description: 認証エラー
        "404":
          description: タグが見つからない

    put:
      tags:
        - Tags
      summary: タグ名を編集
      parameters:
        - name: tagId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
                - name
      responses:
        "204":
          description: 成功
        "401":
          description: 認証エラー
        "403":
          description: 権限がない
        "404":
          description: タグが見つからない

    delete:
      tags:
        - Tags
      summary: タグを削除 (管理者のみ)
      parameters:
        - name: tagId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: 成功
        "401":
          description: 認証エラー
        "403":
          description: 管理者権限がない
        "404":
          description: タグが見つからない

  /tags/{tagId}/stamps:
    get:
      tags:
        - Tags
      summary: 特定のタグに紐づけられたスタンプ一覧を取得
      description: 指定されたタグが付けられているすべてのスタンプを取得します。
      parameters:
        - name: tagId
          in: path
          required: true
          description: 取得したいスタンプに付けられているタグのUUID
          schema:
            type: string
            format: uuid
        - name: sort
          in: query
          description: ソートキー
          schema:
            type: string
            enum: [created_at, count_monthly, count_total, name]
            default: created_at
        - name: order
          in: query
          description: ソート順
          schema:
            type: string
            enum: [asc, desc]
            default: desc
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/StampSummary"
        "401":
          description: 認証エラー
        "404":
          description: タグが見つからない

  /login:
    get:
      tags:
        - User
      summary: traQ OAuth2.0ログイン開始
      description: traQのOAuth2.0認証を開始するためのリダイレクトURLを取得します。
      responses:
        "302":
          description: traQの認証ページへリダイレクト
        "500":
          description: サーバーエラー

  /callback:
    get:
      tags:
        - User
      summary: OAuth2.0コールバック処理
      description: traQからのOAuth2.0コールバックを処理し、認証を完了します。
      parameters:
        - name: code
          in: query
          required: true
          description: traQから返される認証コード
          schema:
            type: string
        - name: state
          in: query
          required: true
          description: CSRF攻撃を防ぐためのstate パラメータ
          schema:
            type: string
      responses:
        "302":
          description: 認証成功後のリダイレクト
        "400":
          description: リクエストが不正
        "401":
          description: 認証エラー
        "500":
          description: サーバーエラー

  /me:
    get:
      tags:
        - User
      summary: ログインユーザーのプロファイル情報取得
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserStatus"
        "401":
          description: 認証エラー

  /users-list:
    get:
      tags:
        - User
      summary: 全ユーザーの一覧
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserProfile"
        "401":
          description: 認証エラー
